@model IEnumerable<WebMasterIdentity.Models.Venta>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-xl-12 col-md-6">
        <a class="card bg-primary text-white mb-4 btn nav-link" asp-area="" asp-controller="Administracion" asp-action="RealizarVenta">
            <div class="card-body text-center">
                Añadir venta
                <i class="fas fa-cart-plus"></i>
            </div>
        </a>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <i class="fab fa-shopify m-1"></i>
        Ventas
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Producto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cantidad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Total)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tienda)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producto.NombreProducto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cantidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tienda.TiendaId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>